<style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

    body { font-family: 'Droid Serif'; }
    h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    }
    .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    /* Global font size for all slides */
    .remark-slide-content {
      font-size: 24px; /* Adjust the font size as needed */
      z-index: 10
    }
    
    /* Styling specifically for the title slide */
    .title-slide {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
      background-color: white;
      padding: 40px; /* Added padding to avoid cutting off content */
      box-sizing: border-box;
    }
    .title-slide h1 {
      font-size: 2.5em;  /* Adjust the size as needed */
      margin-bottom: 10px;
    }
    .title-slide img {
      width: 400px; /* Adjust the size as needed */
      height: 400px;
      margin-bottom: 10px;
    }
    
     /* Center image class */
    .center-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .center-image {
      max-width: 100%;
      max-height: 100%;
    }  
    
    .img-right {
      margin-left: 50px; /* Adjust the value as needed */
    }
    
    .qr-code-container {
      position: absolute;
      bottom: 0; /* Position at the bottom */
      right: 0;   /* Position at the right */
      margin-bottom: 30px; /* Add margin from the bottom */
      margin-right: 20px;   /* Add margin from the right */
      z-index: 0
    }
    
    .no-line-break {
        line-height: 1; /* Adjust the value as needed */
    }
</style>

